BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
IndentPPDirectives: AfterHash
# PackConstructorInitializers: CurrentLine
# ReferenceAlignmentStyle: Left
DerivePointerAlignment: false
PointerAlignment: Left
UseCRLF: false
BreakBeforeInheritanceComma: false
BreakConstructorInitializers: AfterColon
Cpp11BracedListStyle: true
PointerAlignment: Right
SpaceInEmptyParentheses: false
AccessModifierOffset: 0
SpaceBeforeParens: ControlStatements
AlwaysBreakTemplateDeclarations: true
BraceWrapping:
  AfterEnum: true
  AfterCaseLabel: false
SpaceBeforeCaseColon: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeRangeBasedForLoopColon: false
# SpacesBeforeTrailingComments: 2
# Unreal Engine Functions are usually quite long
# force the arguments to be on separate line
# Make the Indent bigger so arguments are on a different
# level
ContinuationIndentWidth: 8
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000
BreakBeforeBraces: Allman
