[submodule "Plugins/Gamekit"]
	path = Plugins/Gamekit
	url = https://github.com/Delaunay/Gamekit.git

[submodule "Plugins/GKML"]
	path = Plugins/GKML
	url = https://github.com/Delaunay/GKMachineLearning.git

[submodule "Plugins/GKLua"]
	path = Plugins/GKLua
	url = https://github.com/Delaunay/GKLua
